a {
    text-decoration: none;
}


//     li{
//         list-style: none;
      
//     .navText {
//         font-size: 15px;
//         }
//     .imgNav{
//         width:5px;
//         height: 5px;
//         }
//     }
.menuLeft {
    position: fixed;
    top: 60px;
    left: -30px;
    height: 100%;
    z-index: 2;
    background-color:white;
    font-size: 12px;

    ul{
        list-style: none;
        li {
            display: flex;
        }
    }
}

.navDiv {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.banner {
    
img {
    position: relative;
    width: 100%;
    height: 500px;
   
     &:hover {
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
     }
    }
}

.logo {
    width: 80px;
}
.searcher {
    width: 100%;
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    background-color: white;
    display:flex;

    .search-icon-img{
        width: 31px;
        height: 37px;
        margin: 16px;
    }

}

.buscador {
   width: 100%;
  height: 60px;
   color: white;

 }


.bannerText {
    position: absolute;
    top: 240px;
    z-index: 2;
    right: 500px;;
    color: white;
    font-size: 30px;

}
.icon-img {
    width:15px;
}

.movieList {
    list-style: none;
}
