a {
    text-decoration: none;
}


//     li{
//         list-style: none;
      
//     .navText {
//         font-size: 15px;
//         }
//     .imgNav{
//         width:5px;
//         height: 5px;
//         }
//     }
.menuLeft {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;

    ul{
        list-style: none;
        
    }

}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.banner {
    .bannerText {
        position: absolute;
    }
img {
    position: relative;
    width: 100%;
    height: 100%;
    }
}

.buscador {
    width: 100%;
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;

}
